.hero{
    font-family: 'Bebas Neue';
    // min-height: 820px;
    // padding-bottom:240px;
    // padding-top: 240px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center; 

    .hero__subtitle{
        font-size: 40px;
        letter-spacing: 0.22em;
        transform: scaleY(1.15);
        -webkit-transform: scaleY(1.15);
        -moz-transform: scaleY(1.15);
        -ms-transform: scaleY(1.15);
        -o-transform: scaleY(1.15);
        font-family: 'Bebas Neue Book';
    }

    .hero__title{
        font-size: 78px;
        font-weight: bold;
        letter-spacing: 0.13em;
        transform: scaleY(1.2);
        -webkit-transform: scaleY(1.2);
        -moz-transform: scaleY(1.2);
        -ms-transform: scaleY(1.2);
        -o-transform: scaleY(1.2);
        margin-bottom: 35px;
        position: relative;

        &:after{
            content: '';
            background: $text-color;
            height: 1px;
            width: 165px;
            display: inline-block;
            position: absolute;
            left: 0px;
            bottom: 5px;
        }

    }
    .hero__excerpt{
        font-family: 'Proxima Nova';
        font-size: 24px;
        letter-spacing: 1px;
        max-width: 420px;
        line-height: 28px;
        margin-bottom: 40px;
    }

    /* HERO CALL */
    .hero__call{
        display:inline-block;
        background:rgba(255,255,255,0.5);
        padding:10px 15px;
        vertical-align:top;
        font-family: 'Proxima Nova';
        font-size:17px;
        line-height:25px;
        max-height:70px;
        a{
            display:block;
            font-weight:bold;
            color:$primary-color;
            font-size:26px;
            letter-spacing:0.1em;
            font-family: 'Bebas Neue';
            &:hover{
                text-decoration:none;
                color:$secondary-color;
            }
        }
    }

    @media screen and (max-width:$screen-lg - 1){
        background-position: 60% center; 
    }

    @media screen and (max-width:$screen-md - 1){
        padding-top:140px !important;  
        padding-bottom: 300px !important;   
        background-position:bottom center;
        background-size:70%;
        margin-bottom:350px;
        overflow:hidden;
        .hero__subtitle{
            font-size:35px;
            font-weight:600;
        }    
        .hero__title{
            font-size:68px;
        }
        .hero__button{
            margin:0 auto;
            display:block;
            width:100%;
        }
        .hero__call{
            margin-top: 15px;
            background:none;
        }
        .mouse-indicator{
            display:none;
        }

        &:before{
            content: '';
            display: inline-block;
            width: 100%;
            height: 100%;
            position: absolute; 
            top: 420px;
            left: 0;
            // background-image: radial-gradient(at 70%, transparent, white 50%);
            // background-image: -webkit-radial-gradient(50% 60%, transparent 25%, white 38%);
            background-position: right;
            z-index: 0;
        }
        
    }
    @media screen and (max-width:$screen-sm - 1){
        // padding-bottom:200px !important;
        background-size:100% auto;
        background-position:center bottom;
        &:before{
            top:120px;
            // background-image: -webkit-radial-gradient(55% 70%, transparent 20%, white 35%);
        }
        .hero__subtitle{
            font-size: 24px;
        }
        .hero__title{
            font-size:39px;
            line-height:39px;
            padding-bottom:10px;
            margin-top:15px;
            &:after{
                width:120px;
                bottom:0;
            }
        }
        .hero__excerpt{
            font-size:18px;
            line-height:22px;
            &+.btn{
                font-size:18px;
                padding:15px 0 12px 0px;
            }
        }
        
    }

}