.navbar-top-item{
    .phone-top{
        display:inline-block;
        font-family:'Proxima Nova';
        font-weight: 300;
        font-size:18px;


        a{
            font-size:18px;
            font-weight:bold;
            color:$text-color;
        }
    }
}

.mainmenu{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    letter-spacing:0.1em;
    &+main{
        // padding-top:420px;
    }
}
