.cta-boxes{
    &.cta-boxes-1,
    &.cta-boxes-3{
        .cta-boxes-inner{
            margin-top:60px;
            -ms-flex-wrap: wrap;
            display: flex;
            flex-wrap: wrap;
            padding:0 0px;

            
            .cta-box{
                -ms-flex: 0 0 50%;
                flex: 0 0 50%;
                max-width: 50%;
                background:$secondary-color;
                padding:60px;
                position:relative;

                .cta-box__icon{
                    margin-bottom:30px;
                }

                .cta-box__subTitle{
                    color:white;
                    font-size:24px;
                    font-family:'Bebas Neue Book';
                    font-weight:bold;
                    letter-spacing: 0.22em;
                    transform: scaleY(1.25);
                    -webkit-transform: scaleY(1.25);
                    -moz-transform: scaleY(1.25);
                    -ms-transform: scaleY(1.25);
                    -o-transform: scaleY(1.25);
                    margin-top:10px;
                }
                .cta-box__title{
                    color:white;
                    font-size:34px;
                    line-height:34px;
                    font-family:'Bebas Neue';
                    letter-spacing: 0.18em;
                    transform: scaleY(1.35);
                    -webkit-transform: scaleY(1.35);
                    -moz-transform: scaleY(1.35);
                    -ms-transform: scaleY(1.35);
                    -o-transform: scaleY(1.35);
                    margin:5px 0 25px 0 ;
                }
                .cta-box__description{
                    color:white;
                    margin-bottom:20px;
                }

                .btn.btn-primary{
                    border:1px solid $primary-color;
                    &:hover{
                        border-color:white;
                    }
                }

                .cta-link{
                    color:white;
                    font-size:15px;
                    font-family:'Bebas Neue';
                    font-weight:bold;
                    letter-spacing: 0.1em;
                    text-transform:uppercase;
                    display:block;
                    margin-top:15px;
                }

                /* active state */
                &.active{
                    position:relative;
                    z-index:9;

                    .cta-box__icon,
                    .cta-box__subTitle,
                    .cta-box__title,
                    .cta-box__description,
                    .btn.btn-primary,
                    .cta-link{
                        position:relative;
                    }

                    &:before{
                        content:'';
                        width:105%;
                        height:110%;
                        background:$primary-color;
                        display:inline-block;
                        position:absolute;
                        left:50%;
                        top:50%;
                        transform:translate(-50%,-50%);
                        background:$primary-color;
                        
                    }
                    .btn.btn-primary{
                        border:1px solid white;
                        &:hover{
                            border-color:$secondary-color;
                        }
                    }

                    &:first-child{
                        box-shadow: 50px 50px 100px rgba(0,0,0,0.3);
                    }
                    &:last-child{
                            box-shadow: -50px 50px 100px rgba(0,0,0,0.3);
                    }
                }
            }
        }
    }

    /* CTA BOX Layout #2 */
    &.cta-boxes-2{
        margin-top:60px;
        clear:both;
        overflow:hidden;
        .cta-boxes-inner{
            margin-top:80px;
            text-align:center;
            &.cta-boxes-inner-count-5{
                .cta-box{
                    float:left;
                }
            }
        }
        .cta-box{
            display:inline-block;
            width:20%;
            // float:left;
            vertical-align:top;
            text-align:center;
            padding:5px;

            .cta-box-inner{
                border:1px solid #e0e0e0;
                padding:30px 15px;
                border-radius:3px 3px 0 0;
                min-height:300px;
                background:white;

            }
            .cta-box__icon{
                max-height:65px;
                &.hover{
                    display:none;
                }
            }
            .cta-box__title{
                font-family:$font-title;
                font-size:24px;
                line-height:28px;
                letter-spacing:0.15em;
                margin:10px 0 5px;
                padding:0 15px;
                &.title-sm{
                    font-size:18px;
                    line-height:18px;
                }
            }
            .cta-box__description{
                font-size:16px;
                line-height:20px;
            }
            .btn{
                display:none;
            }

            position:relative;
            &:before{
                content:'';
                height:10px;
                display:inline-block;
                background:$primary-color;
                position:absolute;
                left:5px;
                right:5px;
                bottom:0; 
                
            }
            &.cta-box-red{
                &:before{
                    background:#d64d4d;
                }
            }
            &.cta-box-green{
                &:before{
                    background:#5bba4a;
                }
            }
            &.cta-box-blue{
                &:before{
                    background:#6683d3;
                }
            }
            &.cta-box-purple{
                &:before{
                    background:#a546d1;
                }
            }

            //active
            &.active{
                .cta-box__icon{ display:none; }
                .cta-box__icon.hover{ display:initial;}
                
                position:relative;


                &:before{
                    content:'';
                    width:120%;
                    height:120%;
                    background:$primary-color; 
                    display:inline-block;
                    z-index:1;
                    position:absolute;
                    left:50%;
                    top:50%;   
                    transform:translate(-50%,-50%);
                }
                .cta-box__title,
                .cta-box__description,
                .cta-box__icon.hover{
                    color:white;
                    position:relative;
                    z-index:1;
                }

                .btn{
                    display:initial;
                    z-index:1;
                    position:absolute;
                    left:15px;
                    right:15px;
                    bottom:0px;
                    background:none;
                    border:1px solid white;
                    // transform:translateX(-50%);
                    letter-spacing:0px;
                }

                &.cta-box-red{
                    &:before{
                        background:#d64d4d;
                    }
                }
                &.cta-box-green{
                    &:before{
                        background:#5bba4a;
                    }
                }
                &.cta-box-blue{
                    &:before{
                        background:#6683d3;
                    }
                }
                &.cta-box-purple{
                    &:before{
                        background:#a546d1;
                    }
                }
            }

            @media screen and (max-width:$screen-lg - 1){
                width:100%;
                max-width:300px;
                margin:0 auto;
                &.active{
                    &:before{
                        width:100%;
                        height:100%;
                        border:none;
                    }    

                }
                .cta-box-inner{
                    
                }
                .cta-box__title{
                    font-size:28px;
                    line-height:28px;
                }
                .cta-box__description{
                    font-size:18px;
                    line-height:16px;
                    &+.btn{
                        font-size:16px;    
                        left:12px;
                        right:12px;
                        bottom:20px;
                    }
                }
            }
            @media screen and (max-width:$screen-md - 1){
                float:none !important;
            }
        }
    }

    &.cta-boxes-3{
        .cta-box__description{
            display:initial !important;
            .comp-title-group{
                margin-top:50px;
                margin-bottom:25px;
                label{
                    margin:0;
                }
                a{
                    letter-spacing:0.1em;
                }

            }
        }
        .cta-box{
            padding-top:200px !important;
            padding-bottom:100px !important;
            overflow:hidden;
            min-height:550px;
            .cta-box-inner{
                position:absolute;
                width:100%;
                left:0;
                padding-left:60px;
                padding-right:60px;
                bottom:100px;
            }
            .cta-box__subTitle{
                font-size:18px !important;
                letter-spacing:0.3em !important;
            }
            .cta-box__title{
                letter-spacing: 0.3em !important;
                margin-bottom: 50px !important;
                font-size: 38px !important;
                line-height: 38px !important;
                margin-top: 20px !important;
            }
            .cta-box__subTitle,
            .cta-box__title,
            .cta-box__description{
                color:#343434 !important;
            }
            .cta-box__subTitle,
            .cta-box__title,
            .cta-box__description,.btn,
            .comp-title-group{
                position:relative;
                z-index:1;
            }
            .btn{
                background:white;
                border-color:$primary-color;
                color:$primary-color;
                font-size:26px;
                padding-top:15px;
                padding-bottom:15px;
            }
            &:before{
                //background-color:white;
                background-image:
                linear-gradient(to bottom, rgba(255,255,255, 0.3), rgba(255,255,255, 1));
                content:'';
                display:inline-block;
                position:absolute;
                left:0;
                top:0;
                z-index:0;
                width:100%;
                height:100%;
                opacity:0.8;

            }
            &:after{
                content:'';
                opacity:1;
                // background-color:rgb(50,68,80) !important;
                background-image:
                linear-gradient(to bottom, rgba(237,237,237, 0), rgba(237,237,237, 1));
                width:100.2% !important;
                height:250.2% !important;
                position:absolute;
                left:0;
                bottom:0;
                z-index:0;
            }
            &.active{
                margin-top:-55px;
                margin-bottom:55px;
                &:before{
                    opacity:0.9;
                    background-color:rgb(50,68,80) !important;
                    background-image:
                    linear-gradient(to bottom, rgba(50,68,80, 0.3), rgba(0,24,39, 1)) !important;
                    width:100.2% !important;
                    height:100.2% !important;
                }
                &:after{
                    content:'';
                    opacity:1;
                    // background-color:rgb(50,68,80) !important;
                    background-image:
                    linear-gradient(to bottom, rgba(50,68,80, 0.3), rgba(50,68,80, 1)) !important;
                    width:100.2% !important;
                    height:100.2% !important;
                    position:absolute;
                    left:0;
                    bottom:0;
                    z-index:0;
                }
                .cta-box__subTitle,
                .cta-box__title,
                .cta-box__description{
                    color:white !important;
                }
                .btn{
                    border-color:$primary-color !important;
                    background:$primary-color !important;
                    color:white !important;
                }
            }
            @media screen and (max-width:$screen-lg - 1){
                .cta-box-inner{
                    .btn-primary{
                        font-size:22px;    
                    }
                }    
            }
        }

        @media screen and (max-width:$screen-lg - 1){
            max-width:100%;        
        }
        @media screen and (max-width:$screen-md - 1){
            .cta-boxes-inner{
                display:block;
                .cta-box {
                    width:100%;
                    max-width:80%;
                    min-width:280px;
                    margin:15px auto;
                    background-size:cover;
                    height:auto;
                    min-height:0;
                    padding-top: 80px !important;
                    &:first-child{
                        // padding-top:80px;
                        // height:auto;
                    }
                    .cta-box-inner{
                        position:relative;
                        bottom:unset;
                    }
                }
            }         
        }
        @media screen and (max-width:$screen-sm - 1){
            .cta-box-inner{
                padding-left:0 !important;
                padding-right:0 !important;
                .btn.btn-primary{
                    font-size:18px;
                }
            }    
        }
    }

    &.cta-boxes-1{
        @media screen and (max-width:$screen-sm - 1){
            .section-title {
                font-size:24px;
                margin-bottom:0;
            } 
        }
   
    }
    @media screen and (max-width:$screen-md - 1){
        &.cta-boxes-1{
            .cta-boxes-inner{
                margin-top:15px;
                .cta-box{
                    width:100%;
                    max-width:100%;
                    flex: 0 0 100%;
                    padding:35px;
                    &.active{
                        &:before{
                            height:100%;
                            width:100%;  
                        }     
                    }
                    .cta-box__subTitle{
                        font-size:18px;
                    }
                    .cta-box__title{
                        margin-top:10px;
                        font-size: 26px;
                        line-height:28px;
                    }
                }  
            }  
        }
    }
}