.component-stats{
    .section-title{
        margin-bottom:8px; 
    }
    .section-title-sub{
        margin-top: 12px;
        font-size:22px;
    }

    .stats-inner{
        overflow:auto;
        padding: 10px 15px;
        margin-top:30px;
        .stat{
            width: 33.33%;
            float:left;
            overflow:hidden;
            padding:0 0px 0px 55px;
            .stat-figure{
                font-family:$font-title;
                font-size:54px;
                letter-spacing: 0.22em;
                transform: scaleY(1.35);
                -webkit-transform: scaleY(1.35);
                -moz-transform: scaleY(1.35);
                -ms-transform: scaleY(1.35);
                -o-transform: scaleY(1.35);
                float:left;
            }
            .stat-label{
                font-size:20px;
                padding-right:15px;
                line-height:26px;
                transform: translateY(25%);
            }

            &:first-child{
                border-right:1px solid #aaa;
            }
            &:last-child{
                border-left:1px solid #aaa;    
            }
        }
    }
}