body{
    font-family:'Proxima Nova';
    font-size:16px;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    margin:0; 

    color:$text-color;
}

.mainmenu{
    padding-top:33px;
}

.admin-bar{
    .mainmenu{
        top:32px;
    }
}

h2{
    font-size:45px;
    font-family:'Bebas Neue';
    color:$text-color;
    letter-spacing: 0.22em;
    transform: scaleY(1.35);
    -webkit-transform: scaleY(1.35);
    -moz-transform: scaleY(1.35);
    -ms-transform: scaleY(1.35);
    -o-transform: scaleY(1.35);
    margin-top:15px;
    margin-bottom:30px;
}
p{
    margin-bottom:2rem;
}

main#main{
    min-height:128px;
    padding-top:128px;
}

.section-title{
    &.section-title-lg{
        font-size:92px;
        letter-spacing: 0.18em;
    }
    &.section-title-sm{
        font-size:27px;
    }
}
.section-subtitle{
    font-family:$font-title;
    font-size:45px;
    font-weight:normal;
    letter-spacing: 0.22em;
    transform: scaleY(1.35);
    -webkit-transform: scaleY(1.35);
    -moz-transform: scaleY(1.35);
    -ms-transform: scaleY(1.35);
    -o-transform: scaleY(1.35);
    .section-subtitle-top{

    }
}

.comp-title-group{
    label{
        font-family:$font-text;
        font-size:17px;
    }
    a{
        display:block;
        color:$primary-color;
        font-family:$font-title;
        font-size:35px;
        span{
            
        }
    }
}

.section-content{
    ul{
        padding-left:0px;
        list-style:none;
        li{
            font-weight:bold;
            position:relative;   
            padding-left:20px; 
            font-size:20px;
            display:inline-block;
            padding-top:10px;
            padding-bottom:10px;
            width:100%;
            a{
                color:$text-color;
                text-decoration:underline;
            }
            &:before{
                content:'';
                width:6px;
                height:6px;
                background:$primary-color;
                position:absolute;
                display:inline-block;
                left:0;
                top:20px;
                // margin-top:-3px;
                z-index:1;
            }
        }
    }
}


article{
    &.main-content{
        p{
            font-size:20px;
        }
        ol{
            padding-left:15px;
        }
        li{
            font-size:20px;
            padding:3px 0;
        }
    }
}

.article-wrapper{
    margin-top:-100px;
    position:relative;
    z-index:1;
}