
$primary-color: #f79f00;
$secondary-color: #49545a;
$text-color: #24374d;
$color-green: #5bba4a;
$color-red: #d64d4d;
$color-blue: #6683d3;
$color-purple: #a546d1;

$btn-primary-color: $primary-color;
$btn-primary-hover: $secondary-color;

$text-color: $secondary-color;

$font-title: 'Bebas Neue';
$font-text: 'Proxima Nova';

$zindex-dropdown:          1000 !default;
$zindex-sticky:            1020 !default;
$zindex-fixed:             1030 !default;
$zindex-modal-backdrop:    1040 !default;
$zindex-modal:             1050 !default;
$zindex-popover:           1060 !default;
$zindex-tooltip:           1070 !default;

$screen-xl: 1200px;
$screen-lg: 992px;
$screen-md:768px;
$screen-sm: 576px;