
$primary-color: #f79f00;
$secondary-color: #49545a;
$text-color: #24374d;

$btn-primary-color: $primary-color;
$btn-primary-hover: $secondary-color;

$text-color: $secondary-color;

$font-title: 'Bebas Neue';
$font-text: 'Proxima Nova';